<div class="page-community">

    <div class="container-xl fixed margin-top" style="color: #0a4275;">

        <header class="page-header shadow-lg mb-5 " style="background-color: #0a4275;">
            <div class="page-header__inner container-xl" style="background-color: #0a4275;">
                <a (click)="search('*')" class="no-underline">
                    <div>
                        
                        <div class=" mb-3">
                            <img src="https://www.qualitymatters.org/sites/default/files/illustrations-infographics/research-webinar-icon-600px.png" width="75px" height="80px" class="mt-3" >
                            <span class="page-header__logo_text text-white font ml-2">
                                Thai Research Search
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </header>

        <div *ngIf="isLoading" class="loader"></div>
        <div class="page-content">
            <main class="page-main">
                <div class="uk-grid mb-0" data-uk-grid>
                    <div class="uk-width-2-3@l">
                        <div class="widjet --filters">
                            <div class="widjet__body shadow-sm">
                                <div class="uk-grid uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <form [formGroup]="form" (ngSubmit)="submit()">
                                            <div class="search">
                                                <div class="search__input font">
                                                    <input type="search" name="search" placeholder="Search"
                                                        formControlName="keyword" aria-label="Search" style="color: black;" class="font">
                                                </div>
                                                <div class="search__btn">
                                                    <button type="button font" type="submit">
                                                        <i class="ico_search" style="color: #0a4275; "></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="form-row p-2 font">
                                    <div class="col">
                                        <mat-form-field appearance="fill">
                                            <mat-label>OECD</mat-label>
                                            <mat-select [(ngModel)]="selectedOECD" name="OECD" class="font">
                                                <mat-option  value="" class="font">
                                                    Select
                                                </mat-option>
                                                <mat-option *ngFor="let opt of facetOecd" [value]="opt.data"
                                                    class="font">
                                                    {{opt.data}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Year</mat-label>
                                            <mat-select [(ngModel)]="selectedYear" name="year" class="font">
                                                <mat-option  value="" class="font">
                                                    Select
                                                </mat-option>
                                                <mat-option *ngFor="let opt of facetYear" [value]="opt.data"
                                                    class="font">
                                                    {{opt.data}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                    <div class="col">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Province</mat-label>
                                            <mat-select [(ngModel)]="selectedProvince" name="province" class="font">
                                                <mat-option value="" class="font">
                                                    Select
                                                </mat-option>
                                                <mat-option *ngFor="let opt of facetProvince" [value]="opt.data"
                                                    class="font">
                                                    {{opt.data}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="font col mt-3" style="font-size:medium;">
                                        <p> Researchs: {{numfound|number}} </p>
                                    </div>


                                </div>
                                <div class="font col">
                                    <p *ngIf="booleanFilter" style="font-size:medium;"> <b>Your searched:</b> {{booleanFilter}}</p>
                                </div>
                            </div>

                        </div>
                       
                        <div *ngFor="let item of book; let i = index">
                            <a [routerLink]="['/research-detail', item.id]" style="text-decoration: none;">
                                <div class="game-card --horizontal --small">
                                    <div class="game-card__box mb-3">
                                        <div class="game-card__media mr-2">
                                            <img
                                                src="https://www.pubaffairsbruxelles.eu/wp-content/uploads/2021/05/43009-scaled.jpg" />
                                        </div>
                                        <div class="p-2 d-flex justify-content-between ">
                                            <div>
                                                <span class="blue font">{{ item.ProjectNameTH }}</span>
                                                <div class="game-card__discussion font">OECD:<span
                                                        style="color: black;">&nbsp; {{item.OECD1 }}</span>
                                                </div>
                                                <div class="game-card__discussion font">ผู้เขียน:
                                                    <span style="color: black;">&nbsp; {{item.Headname}} </span>

                                                </div>
                                                <div class="game-card__discussion font">ปีที่เผยแพร่:
                                                    <span style="color: black;">&nbsp; {{item.ProjectYearSubmit }} </span>

                                                </div>
                                                <div *ngIf="facetField">
                                                    <span class="badge rounded-pill font ms-auto font-size"
                                                        style="background-color: #0a4275">{{facetField}}</span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>

                    <div class="uk-width-1-3@l mb-0">

                        <div class="widjet --my-list">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead font fw-bold">OECD</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="my-game-list">

                                    <ol class="list-group list-group-numbered">

                                        <li *ngFor="let item of facetOecd|slice:0:7">
                                            <a (click)="getDataByFact('OECD1',item.data)" class="no-underline">
                                                <div class="list-group-item d-flex justify-content-between align-items-start my-game-item  btn  m-1"
                                                    style="border-radius: 10px; width: 60%;" *ngIf="item.count">
                                                    <div class="ms-2 me-auto">
                                                        <div class="font">{{item.data}}</div>
                                                    </div>

                                                    <span class="badge rounded-pill font"
                                                        style="background-color: #0a4275; ">{{item.count}}
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ol>
                                </ul>
                            </div>
                        </div>



                        <div class="widjet --my-list mb-5">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead font fw-bold">Year</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="my-game-list">

                                    <ol class="list-group list-group-numbered">

                                        <li *ngFor="let item of facetYear|slice:0:7">
                                            <a (click)="getDataByFact('ProjectYearSubmit',item.data)"
                                                class="no-underline">
                                                <div class="list-group-item d-flex justify-content-between align-items-start my-game-item  btn  m-1"
                                                    style="border-radius: 10px; width: 60%;" *ngIf="item.count">
                                                    <div class="ms-2 me-auto">
                                                        <div class=" font">{{item.data}}</div>
                                                    </div>

                                                    <span class="badge rounded-pill font"
                                                        style="background-color: #0a4275; ">{{item.count}}
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ol>
                                </ul>
                            </div>


                            <div class="widjet --my-list mt-3">
                                <div class="widjet__head">
                                    <h3 class="uk-text-lead font fw-bold">Provinces</h3>
                                </div>
                                <div class="widjet__body">
                                    <ul class="my-game-list">

                                        <ol class="list-group list-group-numbered">

                                            <li *ngFor="let item of facetProvince|slice:0:7">
                                                <a (click)="getDataByFact('SubmitDepProvinceTH',item.data)"
                                                    class="no-underline">
                                                    <div class="list-group-item d-flex justify-content-between align-items-start my-game-item  btn  m-1"
                                                        style="border-radius: 10px; width: 60%;" *ngIf="item.count">
                                                        <div class="ms-2 me-auto">
                                                            <div class="font">{{item.data}}</div>
                                                        </div>

                                                        <span class="badge rounded-pill font"
                                                            style="background-color: #0a4275; ">{{item.count}}
                                                        </span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ol>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>